@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Mainpage */
.Main-container {
  display: flex;
  align-items: center;
  height: 89vh;
}
.title {
  color: white;
  display: flex;
  flex-direction: column;
}

/* About page */
.AboutText {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.About-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  padding: 100px 50px 20px 50px;
}

.text-red {
  color: #e30613;
}
.text-red-bold {
  color: #e30613;
  font-weight: bold;
}

/* Find Us */
.Map-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.FollowUs-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  gap: 10px;
}

.FindTitle {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
}
.Map_Business-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.FindUs-container {
  height: 100vh;
  color: white;
  padding: 100px 50px 20px 50px;
}
.Business-hours-container {
  padding: 10px;
}

/* Media queries */
/* Mobile Small*/
@media only screen and (min-width: 320px) {
  /* Mainpage */
  .Main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
  }
  .title-name {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
  }
  .title-location {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
  }
  .title-time {
    padding-bottom: 10px;
  }
  .carousel-item img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }

  /* About page */
  .AboutTitle {
    font-size: 30px;
    font-weight: bold;
  }
  .AboutText {
    font-size: 20px;
  }
  .AboutText-container {
    width: 70vw;
  }

  /* Find page*/
  .Finde-Us-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  iframe {
    width: 320px;
    height: 320px;
  }
  .FindText {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  .weekdays,
  .weekends {
    font-size: 16px;
  }
  .busines-hours {
    font-size: x-large;
  }
  .FindTitle {
    font-size: 40px;
  }
  .FollowUs-logo {
    flex-direction: column;
  }
}

/* Mobile Large*/
@media only screen and (min-width: 576px) {
  /* Mainpage */
  .Main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }
  .title-name {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
  }
  .title-location {
    text-align: center;
    font-size: 20px;
  }
  .title-time {
    padding-bottom: 10px;
  }
  .carousel-item img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  /* About page */
  .AboutTitle {
    font-size: 30px;
    font-weight: bold;
  }
  .AboutText {
    font-size: 25px;
  }
  .AboutText-container {
    width: 60vw;
  }

  /* Find page*/
  .Finde-Us-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  iframe {
    width: 400px;
    height: 320px;
  }
  .FindText {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  .weekdays,
  .weekends {
    font-size: 16px;
  }
  .busines-hours {
    font-size: x-large;
  }
  .FindTitle {
    font-size: 40px;
  }
  .FollowUs-logo {
    flex-direction: column;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  /* Mainpage */
  .Main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }
  .title-name {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }
  .title-location {
    text-align: center;
    font-size: 25px;
  }
  .title-time {
    padding-bottom: 10px;
  }
  .carousel-item img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }

  /* About page */
  .AboutTitle {
    font-size: 40px;
    font-weight: bold;
  }
  .AboutText {
    font-size: 30px;
  }
  .AboutText-container {
    width: 60vw;
  }

  /* Find page*/
  .Finde-Us-Section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  iframe {
    width: 500px;
    height: 400px;
  }
  .FindText {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  .weekdays,
  .weekends {
    font-size: 16px;
  }
  .busines-hours {
    font-size: x-large;
  }
  .FindTitle {
    font-size: 40px;
  }
  .FollowUs-logo {
    flex-direction: row;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  /* Mainpage */
  .Main-container {
    flex-direction: row;
    padding: 0 50px;
  }
  .title-name {
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: left;
  }
  .title-location {
    text-align: left;
    font-size: 30px;
  }
  .carousel-item img {
    height: 750px;
    width: 100%;
    object-fit: cover;
  }

  /* About page */
  .AboutTitle {
    font-size: 60px;
    font-weight: bold;
  }
  .AboutText {
    font-size: 40px;
  }
  .AboutText-container {
    width: 50vw;
  }
  /* Find page*/
  .Finde-Us-Section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
  iframe {
    width: 600px;
    height: 500px;
  }
  .FindText {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .weekdays,
  .weekends {
    font-size: 20px;
  }
  .busines-hours {
    font-size: xx-large;
  }
  .FindTitle {
    font-size: 60px;
  }
  .FollowUs-logo {
    flex-direction: row;
  }
}
